{% set sponsors = get_sponsors() %}

<div class="ui hidden divider"></div>
{% for sponsor in sponsors %}
    <a href="{{ sponsor.url }}">
        <img src="{{ sponsor.logo.path|imagine_filter('app_shop_sponsor_logo_banner') }}" alt="{{ sponsor.name }}">
    </a>
{% endfor %}

<div class="ui hidden divider"></div>
